Dockerfile.dev
Dockerfile.prod
docker-compose.dev.yml
docker-compose.prod.yml
node_modules
.git
.gitignore
.env
.env.example
.env.production.local
.env.test
*.md
dist/
.husky/
.prettierrc
infrastructure/