# The listening port for the API server
PORT=8080

# The current runtime environment (development / production)
NODE_ENV=development

# The allowed origin(s) for CORS requests ('https://myapp.com' or '*' for public)
CLIENT_URL=*

# Postgres credentials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=6540
POSTGRES_USER=Hubabuba
POSTGRES_PASSWORD=VerY_sTrOng_and_reAdAblE_db_password
POSTGRES_DB=Quizly_hubabuba_dev_db

# Redis credentials
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6377
REDIS_PASSWORD=Very_sTrOng_ReddIs_password

#JWT configs
JWT_ACCESS_TOKEN_SECRET=hubabuba_access_secret
JWT_ACCESS_TOKEN_EXPIRES_IN=6h
JWT_REFRESH_TOKEN_SECRET=hubabuba_refresh_secret
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

#Auth0 config
AUTH0_ISSUER_URL=https://<AUTH0-TENANT-NAME>.auth0.com/
AUTH0_AUDIENCE=https://hubabuba-api.demo.com